---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Tema 4">
    <main>
        <h1>Tema 4 - Animation</h1>
        <section class="grid_1-1">
          <div class="text">
            <h2>04.04.01 Temaopgave</h2>
            <p>
              I opgave 04.04.01 temaopgave skulle vi designe og programmere et interaktivt og animeret spil. Vi skulle lave vores egne figurer og baggrunde i illustrator og gemme dem som svg filer. I vores spil skulle man kunne klikke på ting, som
              enten faldt ned eller dukkede op. <br />
              Der skulle både være gode og dårlige ting at klikke på, hvor man enten fik eller mistede point og mistede liv. Derudover skulle der vises tid, så brugeren vidste hvor lang tid der var tilbage. Vi skulle lave to slutninger en ”level
              complete” og en ”game over”.
            </p>
          </div>
          <div class="pic">
            <img src="/img/guldbar.webp" alt="Guldbar spillet animation" />
            <div class="button">
              <a href="https://hjortnaeskea-guldbarspillet.netlify.app/">Guldbar spillet</a>
            </div>
          </div>
        </section>
      </main>
</MainLayout>

<style>
    main {
  max-width: 1200px;
}

section {
  background-color: #f5ca9e40;
  padding: 50px;
}

h1 {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
}

.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: var(--senary);
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

.button a:hover {
    background-color: var(--primary);
  color: var(--senary);
  border: 1px solid var(--senary); 
}

.reverse a {
  background-color: var(--primary);
  color: var(--senary);
  border: 1px solid var(--senary);
  padding: 15px 40px;
}

.reverse a:hover {
    background-color: var(--senary);
    color: var(--primary);
}

@media (min-width: 821px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;
  }

  .order h2 {
    text-align: end;
  }

  .order p {
    text-align: end;
  }

  .pic2 {
    display: none;
  }
}

@media (max-width: 820px) {
  main {
    margin-inline: 10px;
  }

  section {
    padding: 25px;
    border-radius: 5px;
  }

  .pic1 {
    display: none;
  }

  .button {
    margin-bottom: 80px;
  }
}

</style>