---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Tema 2">
    <main>
        <h1>Tema 2 - Grundlæggende web</h1>
        <section class="grid_1-1">
          <div class="text">
            <h2>02.01.02 Website</h2>
            <p>
              I dette forløb skulle vi udarbejde nogle af vores første simple website. Det gjorde vi ved at bruge grundlæggende HTML og CSS.
            </p>
            <p>I opgaven skulle vi følge det givne layoutdiagram, wireframe, tekstdokument og bruge de vedlagte billeder. Vi skulle tilføje farver og to forskellige fonte. Vi skulle få sitet til og være responsivt og det skulle validere uden nogen fejl.</p>
          </div>
          <div class="pic">
            <img src="/img/min_computer.webp" alt="min computer hjemmeside billede" />
            <div class="button">
                <a href="https://hjortnaeskea-website.netlify.app/">Min computer</a>
            </div>
          </div>
          <div class="pic1">
            <img src="/img/idas_mad.webp" alt="Idas mad hjemmeside billede" />
            <div class="button reverse">
                <a href="https://hjortnaeskea-emnesite.netlify.app/">Ida's mad</a>
              </div>
          </div>
          <div class="text order">
            <h2>02.02.01 Emnesite</h2>
            <p>
              I denne opgave lavede vi vores eget website. Her lavede vi moodboards, wireframe og styletile, som passede til den stil vi havde valgt. 
            </p>
            <p>Ud fra stilen skulle vi bruge farver og typografi på vores site. Derudover skulle vi sørge for at vores site var respontivt og validerede.</p>
          </div>
          <div class="pic2">
            <img src="/img/idas_mad.webp" alt="Idas mad hjemmeside billede" />
            <div class="button reverse">
                <a href="https://hjortnaeskea-emnesite.netlify.app/">Ida's mad</a>
              </div>
          </div>
        </section>
    </main>
</MainLayout>

<style>
    main {
  max-width: 1200px;
}

section {
  background-color: #df9f5740;
  padding: 50px;
}

h1 {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
}

.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: var(--quinary);
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.button a:hover {
    background-color: var(--primary);
  color: var(--quinary);
  border: 1px solid var(--quinary);
}

.reverse a {
  background-color: var(--primary);
  color: var(--quinary);
  border: 1px solid var(--quinary);
  padding: 15px 40px;
}

.reverse a:hover{
    background-color: var(--quinary);
    color: var(--primary);
}

@media (min-width: 821px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;
  }

  .order h2 {
    text-align: end;
  }

  .order p {
    text-align: end;
  }

  .pic2 {
    display: none;
  }
}

@media (max-width: 820px) {
  main {
    margin-inline: 10px;
  }

  section {
    padding: 25px;
    border-radius: 5px;
  }

  .pic1 {
    display: none;
  }

  .button {
    margin-bottom: 80px;
  }
}

</style>