---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Tema 3">
    <main>
        <h1>Tema 3 - Grundlæggende UX</h1>
        <section class="grid_1-1">
          <div class="text">
            <h2>03.02.02 Løsning</h2>
            <p>I dette forløb lærte vi om forskellige research metoder, som vi brugte i temaet.</p>
            <p>I opgave 03.02.02 løsning skulle vi udarbejde en prototype i XD, for vores egen t-shirt webshop. Vi skulle under opgaven lave forskellige research, skitser, moodboard, styletile og test.</p>
          </div>
          <div class="pic">
            <img src="/img/lykkefarve.webp" alt="Lykke farve prototype billede" />
            <div class="button">
                <a href="https://xd.adobe.com/view/10fcdeb9-3591-48f1-988a-85ab0c242bed-45af/">Lykke farve</a>
              </div>
          </div>
          <div class="pic1">
            <img src="/img/pitch.webp" alt="Lykke farve pitch billede" />
            <div class="button reverse">
                <a href="https://studkea-my.sharepoint.com/:p:/g/personal/idax327t_stud_kea_dk/EYuCj7RxFK5FqOiep0zEK2oBj1UJboYNHXYdRZtFEnCKoQ?e=5cjIeg">Pitchen</a>
              </div>
          </div>
          <div class="text order">
            <h2>03.03.02 Pitch</h2>
            <p>I denne opgave skulle vi forberede et UX pitchdeck, til en 5 minutters præsentation af vores webshop.</p>
            <p>Vi skulle gennemgå vigtige indsigter fra researchen, vores design process, gennemgang af XD-prototypen og konklusion af opgaven.</p>
          </div>
          <div class="pic2">
            <img src="/img/pitch.webp" alt="Lykke farve pitch billede" />
            <div class="button reverse">
                <a href="https://studkea-my.sharepoint.com/:p:/g/personal/idax327t_stud_kea_dk/EYuCj7RxFK5FqOiep0zEK2oBj1UJboYNHXYdRZtFEnCKoQ?e=5cjIeg">Pitchen</a>
              </div>
          </div>
        </section>
      </main>
</MainLayout>

<style>
    main {
  max-width: 1200px;
}

section {
  background-color: #e77d7940;
  padding: 50px;
}

h1 {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
}

.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: var(--septenary);
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

.button a:hover {
    background-color: var(--primary);
  color: var(--septenary);
  border: 1px solid var(--septenary);
}

.reverse a {
  background-color: var(--primary);
  color: var(--septenary);
  border: 1px solid var(--septenary);
  padding: 15px 40px;
}

.reverse a:hover{
    background-color: var(--septenary);
    color: var(--primary);
}

@media (min-width: 821px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;
  }

  .order h2 {
    text-align: end;
  }

  .order p {
    text-align: end;
  }

  .pic2 {
    display: none;
  }
}

@media (max-width: 820px) {
  main {
    margin-inline: 10px;
  }

  section {
    padding: 25px;
    border-radius: 5px;
  }

  .pic1 {
    display: none;
  }

  .button {
    margin-bottom: 80px;
  }
}

</style>